/* Provide sufficient contrast against white background */
@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.scroll{

  background-image: url("/images/scroll.png");
  background-repeat: no-repeat;
  background-size: inherit;
  background-position-y: -15px;
  margin: 20px 0;
  margin-left: 4em;
}

.textstyles{
  padding: 4em 0;
  padding-left: 4em;
  padding-right: 12em;
  font-size: 17px;
  font-weight: bolder;
  text-align: left;
}

body {
  font-family: 'Syne Mono', monospace;
  color: black;
  font-size: large;
  height: 100%;
  width: 100%;
  margin-bottom: 50px;
  text-align: center;
  background-image: url("/images/background.jpg");
  background-repeat: no-repeat;
  background-position: relative;
  background-size: cover;
}

.textlight {
  color: antiquewhite;
}